.button {
  background-color: var(--main-green);
  padding: 10px;
  border-radius: 100px;
  border: solid 1px var(--main-green);
  color: var(--white);
  font-weight: bold;
}

.button:hover {
  background-color: transparent;
  color: var(--main-green);
}
