.form-container {
  width: 30%;
  border: 1px solid #c9c9c9;
  border-radius: 20px;
  height: fit-content;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-container .form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.form-container .form .names {
  display: flex;
  gap: 10px;
}

.form-container .form p {
  color: #bdbcbc;
}

/* radio-button */
.radio-buttons {
  width: 100%;
}

.radio-buttons div {
  margin-top: 10px;
  display: flex;
  gap: 2rem;
}
.radio-buttons div label {
  display: flex;
  gap: 5px;
}
