.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2em 5em;
}

.navbar .logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.logo:hover {
  cursor: pointer;
}

.navbar .logo span {
  color: var(--main-green);
}

.navbar-profil {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--main-green);
}

.navbar-profil {
  padding: 0 1rem;
  border-radius: 1rem;
  color: var(--white);
  font-weight: bold;
}

.logout {
  padding: 0.5rem;
  border-radius: 0.6rem;
}

.logout:hover {
  background-color: red;
  cursor: pointer;
}

.cartBtn, .resaBtn {
  background-color: var(--white);
  padding: 10px;
  border-radius: 1em;
  border: solid 1px var(--white);
  color: var(--black);
  font-weight: bold;
  transition: all 1.1s linear;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.right_nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}
