.table-container {
  border: 1px solid #c9c9c9;
  border-radius: 20px;
}
.table-container .top {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}

.table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  font-size: 13px;
  color: #383838;
}

.table .table-header {
  background-color: #f6f6f6;
}
.table .table-header tr th {
  padding: 10px;
}

.table .table-body tr {
  border-bottom: 1px solid #c9c9c9;
}
.table .table-body tr td {
  text-align: center;
  padding: 10px;
}
