:root {
  --primary-color: white;
  --secondary-color: black;
  --thirty-color: #1ca94d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

body {
  font-family: "Inter", sans-serif;
  overflow: hidden;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

input {
  border: none;
  background-color: transparent;
}
