:root {
  --primary-color: white;
  --secondary-color: black;
  --thirty-color: #1ca94d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
